/* CSS file for white water rafting site */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Raleway&display=swap');

body {
    background-color: #fcfbfb;
    font-family: Raleway, 'Arial rounded', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 100px;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: #F2F2F2;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #F2F2F2;
    color: #F2884B ;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.home-title {
    color: #021D40;
    font-family: Quicksand, 'Arial rounded', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #F2F2F2;
}

header {
    background-color: #021D40;;
    
}

.book, .join {
    color: #F2913D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #F2884B;
    color: #F2F2F2;
}

.join:hover {
    color: #F2F2F2
}

.msg {
    background-color: #021D40;
    color: #F2F2F2;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #117DBF;
    font-family: Quicksand, 'Arial rounded', sans-serif;
}

.msg p {
    color: #F2F2F2;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card .camping-card .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #021D40;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h4 {
    color: #117DBF;
}

footer {
    background-color: #021D40;
    color: #F2F2F2;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #F2F2F2;
    text-decoration: none;
}

footer a:hover {
    color: #F2884B;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
}



