
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

body {
    background-color: white;
    font-size: 22px;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    color: #3C3D59;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px 5fr 150px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: inherit;
    text-decoration: none;
    padding: 40px;
}
nav a:hover {
    color: #D9C5C1;
    border-radius: 10px;
}

h1 {
    font-family: "Yeseva One", Cambria, 'Times New Roman', serif;
    font-size: 3rem;
}

h2 {
    font-family: "Yeseva One", Cambria, 'Times New Roman', serif;
    font-size: 2.5rem;   
}

.logo {
    width: 100px;
}

.menu {
    width: 35px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#menu_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
} 

#home, #about_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 50px 0px;
    justify-content: space-between;
}

.msg {
    min-width: 400px;
    max-width: 900px;
    align-self: center;

}

#home_img {
    height: 35rem;
    box-sizing: border-box;
}


.right_icon {
    width: 10px;
}

#about_link {
    padding-left: 30px;
    font-size: .95rem;
    display: grid;
    grid-template-columns: 15px 150px auto;
    align-items: center;
}

.button-box {
    text-align: start;
}

#link_msg {
    font-family: "Yeseva One", Cambria, 'Times New Roman', serif;
    color: #3C3D59;
    text-decoration: none;
    font-size: 22px;
    padding: 15px 10px;
    border-radius: 5px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#link_msg:hover {
    background-color: #3C3D59;
    color: #D9C5C1;
    border-radius: 5px;

}

footer {
    background-color: #D9C5C1;
    color: #3C3D59;
    padding: 15px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1em;
    align-self: start;
} 

footer .social {
    align-self: center;
}
footer .social img {
    width: 50px;
    padding: 10px;

}

footer a:link {
    color: #3C3D59;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


footer a:visited {
    color: #3C3D59;
}

.social_logo:link {
    text-decoration: none;
}

/* About Me page */

#about_main div {
    align-content: end;
    justify-content: center;
}

#about_main img {
    width: 30rem;
    box-sizing: border-box;
}

#quote {
    grid-column: 2/3;
    margin-top: 50px;
}

#img_quote {
    margin-left: 120px;
}

/* -------------------------- */
#projects_main {
    margin: 10px 50px 0px;
    
}

#projects_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.language-name {
    text-align: center;
}

.language img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 300px;
    box-sizing: border-box;

}

.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #010326;
    transition: 0.3s;
    width: 500px;
    height: 500px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 #010326;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.control-width { 
    width: 70%; 
    margin: auto; 
    padding: 30px;
}

.card2:hover { box-shadow: 0 8px 16px 0 #010326; }


#projects_div a {
    text-decoration: none;
    color: inherit;
}

#projects_div p {
    font-size: 17px;
}

#web img {
    width: 250px;
}